.character-details-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
  color: #fff;
  height: 100vh;
  padding: 20px;
}

.character-detail-container {
  text-align: center;
  max-width: 800px;
}

.character-name {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.character-detail-image {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.character-description {
  font-size: 1.25rem;
  line-height: 1.6;
}
